<% provide :title do %>
  <%= t ".home_title" %>
<% end %>

<div class="center jumbotron">
  <h1><%= t ".home_title" %></h1>

  <p>
    <%= t ".home_content.p1" %>
    <%= link_to Settings.rails_tutorial.home do %>
      <%= t ".home_content.a1" %>
    <% end %>
    <%= t ".home_content.p2" %>
  </p>

  <%= link_to signup_path, class: "btn btn-lg btn-primary" do %>
    <%= t ".sign_up" %>
  <% end %>
</div>

<%= link_to image_tag(Settings.image.rails, alt: "Rails logo"), Settings.rails_tutorial.home %>
