<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".placeholder_content") %>
  </div>
  <%= f.submit t(".button_submit"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.micropost.picture.accept %>
  </span>
<% end %>
